body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  font-weight: 500;
}

h1 {
  font-size: 2em !important;
}

h2 {
  font-size: 1.5em !important;
}

p {
  font-weight: 300;
  font-size: 1.25em;
}

.ctc-btn {
  background-color: #3158d8 !important;
  color: white !important;
}

.ctc-btn:hover {
  background-color: #1a2a72 !important;
  color: white !important;
}

.container {
  margin-top: 2rem;
}
